h1 {
    color: darkblue;
}

h1, h3 {
    font-style: italic;
}

header p {
    font-family: 'Courier New', Courier, monospace;
}

.fancy {
    font-family: 'Times New Roman', Times, serif;
}

header.fancy {
 color: magenta;
}

section.statistics header h3{
    color: red;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

p.important{
    font-weight: bold;
    font-size: 30px;
    background-color: aqua;
}

img{
    float: left;
    padding: 0 0 0 10px;
    text-decoration: none;
}

ul li{ /*perquè les “bullets” quedin alineades amb el text*/
    list-style-position:inside;
}

/* completa */
#layout {
    display: grid;
    grid-template-areas: 
        'title title'
        'degrees register'
        'statistics statistics'
        'footer footer'
    ;
    background-color: lightgray;
    gap: 5px;
    padding: 5px;
}

#layout > #title, #degrees, #register, #statistics, #footer {
    background-color: white;
    padding: 5px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
}

#title {
    grid-area: title;
}

#degrees {
    grid-area: degrees;
}

#register {
    grid-area: register;
}

#statistics {
    grid-area: statistics;
}
    #statistics table {
        margin-left: auto;
        margin-right: auto;
    }

#footer {
    grid-area: footer;
    vertical-align: right;
}

@media (max-width: 600px) {
    #layout {
        grid-template-areas: 
            'title'
            'degrees'
            'register'
            'statistics'
            'footer'
        ;
    }

    #layout > #title, #degrees, #register, #statistics, #footer {
        text-align: left;
    }
}

#peu {
    height: 100px;
    text-align: right;
}

#campus-e {
    animation-name: anim-campus-e;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes anim-campus-e {
    0% {width: 100px; }
    100% {width: 100px; transform: rotate(360deg);}
}

